In [1]:
import pandas as pd
import os
import numpy as np
from nltk.tokenize import word_tokenize
from metric_feature import MetricFeature
from gensim.models import Word2Vec,KeyedVectors
import codecs
from nltk import ngrams
from baseline import Baseline
from metric_feature import MetricFeature

C:\ProgramData\Anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [2]:
source_dir = "preprocessed_corpus\\"
target_dir = "features_corpus\\"
dir_list = next(os.walk(source_dir))[1]

In [3]:
model_path = 'C:\\Temp\\wordvectors\\GoogleNews-vectors-negative300.bin'
model = KeyedVectors.load_word2vec_format(model_path,binary=True,unicode_errors='ignore')
stopwords= [w.strip() for w in codecs.open('english-stopwords.txt', 'r',encoding='utf-8').readlines()]

In [4]:
model.fill_norms()

In [5]:
baseline = Baseline(df=None,language='english',model=model,stopwords=stopwords)

In [8]:
csv_path = source_dir + "\cs-en\scores.csv"
df = pd.read_csv(csv_path)
features = []

In [9]:
for index,row in df.iterrows():   
    try:
        metric_feature = MetricFeature(row['reference'],row['translation'],baseline)
        metric_feature.fit_transform()
        features.append(metric_feature)
    except Exception as exc:
        print(index)
        print(exc)

In [11]:
print(features[0])

Cosine Similarity: 0.8996625858722478
Cosine Similarity: 3
Cosine Similarity: 6
Cosine Similarity: 23
Cosine Similarity: 20

In [17]:
df_features = pd.DataFrame(columns=['cosine_similarity','missing_words_reference','missing_words_translation','total_reference_words','total_translation_words'])

In [18]:
df_features

Empty DataFrame
Columns: [cosine_similarity, missing_words_reference, missing_words_translation, total_reference_words, total_translation_words]
Index: []

In [24]:
for f in features:
    row = {'cosine_similarity': f.cosine_similarity, 'missing_words_reference': f.missing_words_reference
           ,'missing_words_translation': f.missing_words_translation,'total_reference_words': f.total_reference_words
          ,'total_translation_words': f.total_translation_words}
    df_features = df_features.append(row,ignore_index=True)

In [25]:
df_features

,cosine_similarity,missing_words_reference,missing_words_translation,total_reference_words,total_translation_words
0,0.899663,3.0,6.0,23.0,20.0
1,0.861433,1.0,4.0,12.0,10.0
2,0.873431,10.0,5.0,29.0,33.0
3,0.766672,4.0,2.0,7.0,9.0
4,0.710794,13.0,10.0,22.0,27.0
...,...,...,...,...,...
11580,0.798296,8.0,6.0,21.0,23.0
11581,0.802461,7.0,7.0,23.0,24.0
11582,0.912122,3.0,4.0,23.0,22.0
11583,0.882713,12.0,13.0,45.0,37.0
11584,0.795171,9.0,11.0,30.0,29.0

In [47]:
df_features['scores']= df['avg-score']

In [48]:
df_features

,cosine_similarity,missing_words_reference,missing_words_translation,total_reference_words,total_translation_words,scores,new_scores
0,0.899663,3.0,6.0,23.0,20.0,60.000000,0.368017
1,0.861433,1.0,4.0,12.0,10.0,44.000000,0.472217
2,0.873431,10.0,5.0,29.0,33.0,96.500000,0.115152
3,0.766672,4.0,2.0,7.0,9.0,90.500000,-0.162782
4,0.710794,13.0,10.0,22.0,27.0,74.666667,-0.491433
...,...,...,...,...,...,...,...
11580,0.798296,8.0,6.0,21.0,23.0,56.000000,-0.153036
11581,0.802461,7.0,7.0,23.0,24.0,69.000000,-0.149654
11582,0.912122,3.0,4.0,23.0,22.0,32.000000,0.368017
11583,0.882713,12.0,13.0,45.0,37.0,76.000000,0.135142
11584,0.795171,9.0,11.0,30.0,29.0,55.000000,-0.153036

In [49]:
y = np.array(df_features['scores'])

In [50]:
X = np.array(df_features[['cosine_similarity','missing_words_reference','missing_words_translation','total_reference_words','total_translation_words']])
X

array([[ 0.89966259,  3.        ,  6.        , 23.        , 20.        ],
       [ 0.86143332,  1.        ,  4.        , 12.        , 10.        ],
       [ 0.87343079, 10.        ,  5.        , 29.        , 33.        ],
       ...,
       [ 0.912122  ,  3.        ,  4.        , 23.        , 22.        ],
       [ 0.88271261, 12.        , 13.        , 45.        , 37.        ],
       [ 0.79517092,  9.        , 11.        , 30.        , 29.        ]])

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.33, random_state=42)

In [52]:
regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(X_train,y_train)

RandomForestRegressor(max_depth=2, random_state=0)

In [53]:
y_hat = regr.predict(X)

In [54]:
df_features.corr()['scores']

cosine_similarity            0.200950
missing_words_reference     -0.269609
missing_words_translation   -0.188759
total_reference_words        0.032222
total_translation_words     -0.007268
scores                       1.000000
new_scores                   0.362974
Name: scores, dtype: float64

In [55]:
df_features['new_scores'] = y_hat
df_features

,cosine_similarity,missing_words_reference,missing_words_translation,total_reference_words,total_translation_words,scores,new_scores
0,0.899663,3.0,6.0,23.0,20.0,60.000000,80.120820
1,0.861433,1.0,4.0,12.0,10.0,44.000000,81.508858
2,0.873431,10.0,5.0,29.0,33.0,96.500000,73.651352
3,0.766672,4.0,2.0,7.0,9.0,90.500000,66.167607
4,0.710794,13.0,10.0,22.0,27.0,74.666667,57.175521
...,...,...,...,...,...,...,...
11580,0.798296,8.0,6.0,21.0,23.0,56.000000,66.376162
11581,0.802461,7.0,7.0,23.0,24.0,69.000000,66.562000
11582,0.912122,3.0,4.0,23.0,22.0,32.000000,80.120820
11583,0.882713,12.0,13.0,45.0,37.0,76.000000,73.752958
11584,0.795171,9.0,11.0,30.0,29.0,55.000000,66.376162

In [56]:
df_features.corr()[['scores','new_scores']]

                             scores  new_scores
cosine_similarity          0.200950    0.602951
missing_words_reference   -0.269609   -0.355520
missing_words_translation -0.188759   -0.290205
total_reference_words      0.032222    0.129801
total_translation_words   -0.007268    0.101203
scores                     1.000000    0.361286
new_scores                 0.361286    1.000000

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

d1 = "Obama speaks to the media in Illinois"
d2 = "The President addresses the press in Chicago"

vect = CountVectorizer(stop_words="english").fit([d1, d2])
print("Features:",  ", ".join(vect.get_feature_names()))

v_1, v_2 = vect.transform([d1, d2])
v_1 = v_1.toarray().ravel()
v_2 = v_2.toarray().ravel()
print(v_1, v_2)

Features: addresses, chicago, illinois, media, obama, president, press, speaks
[0 0 1 1 1 0 0 1] [1 1 0 0 0 1 1 0]

In [59]:
v_1, v_2 = vect.transform([d1, d2])
v_1 = v_1.toarray().ravel()
v_2 = v_2.toarray().ravel()
print(v_1, v_2)

[0 0 1 1 1 0 0 1] [1 1 0 0 0 1 1 0]