In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np
import os

In [2]:
source_dir = "preprocessed_corpus\\"
target_dir = "features_extracted_corpus\\"
dir_list = next(os.walk(source_dir))[1]

In [3]:
def create_dir(path):
    if not os.path.exists(path):
        os.makedirs(path)

In [ ]:
for d in dir_list:
    csv_path = source_dir + d + "\scores.csv"
    vectorizer = TfidfVectorizer(stop_words="english", max_df=0.8)
    preprocessed_df = pd.read_csv(csv_path)
    create_dir(target_dir + d)
    
    X = vectorizer.fit_transform(preprocessed_df.reference).toarray()
    df = pd.DataFrame(X,columns=vectorizer.vocabulary_)
    df.to_csv(target_dir + d + "\\reference.csv")
    
    X = vectorizer.fit_transform(preprocessed_df.translation).toarray()
    df = pd.DataFrame(X,columns=vectorizer.vocabulary_)
    df.to_csv(target_dir + d + "\\translation.csv")

In [5]:
df = pd.read_csv(d + "\scores.csv")

In [6]:
X = vectorizer.fit_transform(df.reference).toarray()

In [14]:
df = pd.DataFrame(X,columns=vectorizer.vocabulary_)

In [114]:
csv_path = source_dir + "\cs-en\scores.csv"
vectorizer = TfidfVectorizer(stop_words="english", max_df=0.8, max_features=300)
preprocessed_df = pd.read_csv(csv_path)
preprocessed_df = preprocessed_df
    
X = vectorizer.fit_transform(preprocessed_df.reference).toarray()
df_reference = pd.DataFrame(X)
    
X = vectorizer.fit_transform(preprocessed_df.translation).toarray()
df_translation = pd.DataFrame(X,columns=vectorizer.vocabulary_)

In [106]:
unique_columns = list(set(list(df_reference.columns) + list(df_translation.columns)))

In [107]:
len(unique_columns)

8141

In [115]:
df_reference.to_csv("c:\Temp\df_reference.csv")

In [109]:
df_X

Empty DataFrame
Columns: [capabl, politico, tickfaw, dump, knuckl, display, scribbl, steal, offens, nose, battl, pat, stuck, occasion, wouldn, jeep, championship, bisexu, exhilar, ji, sedlek, disregard, bat, chd, rebuild, love, sack, pamper, youngest, spout, batch, thorough, recoveri, handgun, dude, nail, lowli, daniel, nepomuk, victoria, improv, greatest, startford, foremost, splachovadlo, midd, communism, plo, unansw, communic, swan, lk, task, enforc, terroris, isol, casino, bezp, global, modern, kubicek, surreal, barack, birth, forward, airbnb, ministr, hundredth, kem, scour, transsexu, suffolk, disord, pejchal, likemind, lost, writh, islamist, glimps, pret, inadequ, dilut, essen, implement, threw, misguid, meet, ellen, divorc, bridg, dooley, royal, surpris, bem, synek, pushback, pohor, metaphor, harder, lame, ...]
Index: []

[0 rows x 8141 columns]

In [79]:
df_Y[df_reference.columns] = df_reference

In [81]:
df_X[df_translation.columns] = df_translation

In [84]:
df_X = df_X.fillna(0)

In [85]:
df_Y =df_Y.fillna(0)

In [93]:
from sklearn.metrics.pairwise import cosine_similarity
scores = cosine_similarity(np.array(df_X.head(1)),np.array(df_Y.head(1)))

In [94]:
pd.DataFrame(scores.flatten())

     0
0  0.0

In [97]:
preprocessed_df

,Unnamed: 0,source,reference,translation,z-score,avg-score,annotators
0,0,Uchopíte pak zbraň mezi své předloktí a rameno...,you will then grab the weapon between your for...,you then grasp the gun between your forearm an...,-0.675383,60.000000,3
1,1,"Ale je-li New York změna, pak je to také znovu...",but if new york is chang then it s also a redi...,but if new york is chang it is also reinvent,-0.829403,44.000000,2
2,2,"Dlouho a intenzivně jsem během léta přemýšlel,...",i have been think over and over again over the...,i have thought long and hard over the cours of...,0.803185,96.500000,2
3,3,"Najdou si jiný způsob, jak někde podvádět.",they find anoth way to cheat somewher,they will find anoth way how to defraud other,0.563149,90.500000,2
4,4,Zpráva o výměně v čele prezidentovy administra...,the report on the replac of the presid s admin...,the news of the replac at the top of the presi...,0.021549,74.666667,3
...,...,...,...,...,...,...,...
95,95,Tady dokonce odpadá časově náročnější vaření a...,there is even no time consum cook and cool of ...,which allow you to skip the more time consum c...,-0.251244,60.000000,3
96,96,Novinka se okouká a zájem o ni začne v určitém...,the novel look and the interest begin to fall ...,the novelti will wear off and use will subsid ...,-1.637813,31.500000,2
97,97,"Myslím hlavně u zahraničních diváků, na než je...",i am think main of foreign audienc to whom the...,i main heard from foreign viewer who were our ...,-0.543723,60.500000,2
98,98,K největším protestům došlo v oblastech obývan...,the largest protest occur in the area popul by...,the biggest protest have been in amhara and or...,0.605569,94.500000,2
99,99,"Vývojáři se musejí neustále učit nové věci, co...",develop need to constant learn new thing which...,develop must constant learn new thing which ca...,-0.062658,78.000000,2

In [101]:
df_X[df_X.index == 2][['think']]

   think
2    0.0

In [167]:
df = preprocessed_df[preprocessed_df.index == 2].reset_index()

In [146]:
del df[df.columns[0]]
del df[df.columns[0]]
df

,source,reference,translation,z-score,avg-score,annotators
0,"Dlouho a intenzivně jsem během léta přemýšlel,...",i have been think over and over again over the...,i have thought long and hard over the cours of...,0.803185,96.5,2

In [148]:
vectorizer = TfidfVectorizer(stop_words="english")
    
X = vectorizer.fit_transform(df.reference).toarray()
df_reference = pd.DataFrame(X,columns=vectorizer.vocabulary_)
df_reference

      think    summer    improv     depth      need    higher     level
0  0.377964  0.377964  0.377964  0.377964  0.377964  0.377964  0.377964

In [150]:
Y = vectorizer.fit_transform(df.translation).toarray()
df_translation = pd.DataFrame(Y,columns=vectorizer.vocabulary_)
df_translation

,thought,long,hard,cours,summer,improv,team,depth,need,bring,higher,level
0,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675

In [151]:
unique_columns = list(set(list(df_reference.columns) + list(df_translation.columns)))
df_X = pd.DataFrame(columns=unique_columns)
df_Y = pd.DataFrame(columns=unique_columns)
df_Y[df_reference.columns] = df_reference
df_X[df_translation.columns] = df_translation

In [158]:
df_X = df_X.fillna(0)
df_Y = df_Y.fillna(0)

In [159]:
scores = cosine_similarity(np.array(df_X.head(1)),np.array(df_Y.head(1)))

In [160]:
scores

array([[0.65465367]])

In [161]:
df_X

,summer,bring,team,cours,think,need,long,depth,level,hard,higher,improv,thought
0,0.288675,0.288675,0.288675,0.288675,0,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675,0.288675

In [165]:
df_Y.index

RangeIndex(start=0, stop=1, step=1)

In [207]:
def calculate_metric(df,language):
    scores = []
    
    for i in df.index:
        vectorizer = TfidfVectorizer(stop_words=language)
        
        X = vectorizer.fit_transform(df.reference).toarray()
        X = pd.DataFrame(X,columns=vectorizer.vocabulary_)
        
        Y = vectorizer.fit_transform(df.translation).toarray()
        Y = pd.DataFrame(Y,columns=vectorizer.vocabulary_)
        

        features = list(set(list(X.columns) + list(Y.columns)))
        
        df_X = pd.DataFrame(columns=features)
        df_X[X.columns] = X      

        
        df_Y = pd.DataFrame(columns=features)
        df_Y[Y.columns] = Y
        
        df_X = df_X.fillna(0)
        df_Y = df_Y.fillna(0)
        
        scores.append(cosine_similarity(np.array(df_X),np.array(df_Y)))
    return scores

In [ ]:
csv_path = source_dir + "\cs-en\scores.csv"
df = pd.read_csv(csv_path)
calculate_metric(df,'english')